//// viewports
$em-factor: 0.0625em;
$viewports: (
  phone: 320 * $em-factor,
  phone-ls: 480 * $em-factor,
  phablet: 560 * $em-factor,
  tablet: 768 * $em-factor,
  desktop: 992 * $em-factor,
  desktop-md: 1200 * $em-factor,
  desktop-lg: 1800 * $em-factor,
);

$default-font: "Fira Code", monospace, Helvetica, Arial, sans-serif;
