* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem == 10px
  @include media(desktop-lg) {
    font-size: 52%;
  }

  @include media(desktop) {
    font-size: 46%;
  }
}

body {
  @include fontSmoothing();
}

#app {
  background-color: $color-tundora;
  flex-direction: column;
  min-height: 100vh;
  display: flex;

  font-family: $default-font;
  color: $color-mercury;
  font-weight: 400;
  font-size: 1.8rem;
}
